/* Path: src/styles/globals.css */
/* Global styles using Tailwind CSS */
@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'KakaoOTF', system-ui, -apple-system, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
}

/* 다크모드 전환 애니메이션 */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}